@charset "UTF-8";

:root {
  --c-txt--1: #fff;
  --c-txt--2: #666;
  --c-bg--1: #4fe7e7;
  --c-bg--1--light--1: #aff9f9;
  --c-bg--1--light--2: #e6fefe;
  --c-bg--2: #fff;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--c-bg--1);
  color: var(--c-txt--1);
  font-family: 'Noto Sans JP', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", "メイリオ", Meiryo, sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  margin: 0;
}
/* タブレット */
@media print, screen and (min-width: 520px) {
  body {
    font-size: 1.8rem;
  }
}
/* パソコン */
@media print, screen and (min-width: 1025px) {
  body {
    font-size: 1.6rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

::-moz-selection {
  color: var(--c-bg--1);
  background-color: var(--c-txt--2);
}
::selection {
  color: var(--c-bg--1);
  background-color: var(--c-txt--2);
}

/* form関連のデザイン */
input {
  background-color: var(--c-bg--2);
  border: none;
  color: var(--c-txt--2);
  font-family: 'Noto Sans JP', sans-serif;
  height: 2.5rem;
}
select {
  background-color: var(--c-bg--2);
  border: none;
  color: var(--c-txt--2);
  font-family: 'Noto Sans JP', sans-serif;
  height: 3rem;
}

:focus-visible {
    outline: .5rem solid var(--c-bg--1--light--1);
}

:-webkit-autofill, :focus:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 100px var(--c-bg--1--light--2) inset;
   -webkit-text-fill-color: var(--c-txt--2);
}

/* カラーピッカーの画像を消す */
.colorpick-eyedropper-input-trigger {
  display: none;
}

/* common */
.ttl--1 {
  font-family: 'Potta One', sans-serif;
  font-weight: inherit;
  font-size: 3rem;
  margin: 0;
  padding: 4rem 0 2rem;
  text-align: center;
}
.ttl--2 {
  font-weight: inherit;
  font-size: inherit;
  margin: 1rem 0;
}

@media print, screen and (orientation: landscape), (min-width: 520px) {
  .ttl--1 {
    font-size: 5rem;
  }
}

/* index.html */
.form {
  padding: 5vw;
}
.option__item {
  display: grid;
  grid-template-columns: 2fr 5fr;
  margin: 0 2vw 2rem 2vw;
}
.option__item span {
  font-size: 1.6rem;
  line-height: 3rem;
}

.form__table {
  margin-top: 10vw;
}
.form__table th {
  font-size: 1.6rem;
  font-weight: inherit;
}
.form__table td {
  padding: 2vw;
}
.form__table td:first-child input {
  width: 57vw;
}
.form__table td:last-child input {
  width: 25vw;
}
/* result.html */
.result {
  margin: 3vw;
}
